/* color palette */
:root {
  --mv-grey-dark: #222;
  --mv-grey-medium: #444;
  --mv-grey-light: #666;
  
  --mv-text-light: #dadada;

  --mv-fw-thin: 100;
  --mv-fw-extra-light: 200;
  --mv-fw-light: 300;
  --mv-fw-regular: 400;
  --mv-fw-medium: 500;
  --mv-fw-semibold: 600;
  --mv-fw-bold: 700;

  --mv-ff-sans-serif: 'IBM Plex Sans', sans-serif;
  --mv-ff-serif: 'PT Serif', serif;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--mv-grey-dark);
  --color-text: var(--mv-text-light);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: var(--mv-ff-sans-serif);
  font-size: 12px;
  font-weight: normal;
  position: relative;
}
